* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-detail {
    width: 100%;
    height: 100vh;
    /* background: #fff; */
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tarjeta {
    width: 650px;
    height: 300px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 20px 60px #f55951bd;
    border-radius: 25px;
}

.container-detail .tarjeta-image {
    width: 30%;
}

.tarjeta-image img {
    width: 100%;
}

.tarjeta-text h3{
    text-align:right;
}
