.pageNumbers {
    list-style: none;
    display: flex;
    justify-content:center;
    margin: 10px;
    padding: 10px;
}

.pageNumbers li {
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.pageNumbers li.active {
    background-color: white;
    color: black;
}

