.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/vector-gratis/controles-videojuegos-enmarcados-estilo-neon-pared-ladrillo_24908-58914.jpg?size=338&ext=jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    width: 700px;
    height: 300px;
    animation-duration: 3s;
    animation-name: logo;
    animation-iteration-count: infinite;
}

@keyframes logo{
    50%{
        width: 700px;
        height: 300px;
    }
    50%{
        width: 600px;
        height: 200px;
    }
}